<!DOCTYPE html>
<html lang="en" ng-app="scheduler">
<head>
  <meta charset="UTF-8">
  <title>Scheduling App</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="style.css"/>
</head>
<body ng-controller="MainCtrl">
  <div class="container" >
    <div class="page-header text-center">
      <h1>Schedule City</h1>
    </div>
  </div>

  <div class="row times">

    <div class="col-xs-4 text-center" ng-repeat="day in days">

      <h2>{{ day.name }}</h2>

      <div class="time-slot" ng-repeat="slot in day.slots">

        <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">

        <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
          <span ng-if="slot.booked">Booked</span>
          <span ng-if="!slot.booked">Available</span>
        </label>

      </div>
    </div>

  </div>

      <p class="text-center">
        <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
      </p>
  </div>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/firebase/firebase.js"></script>
<script src="vendor/angularfire/dist/angularfire.js"></script>
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
<script src="app.js"></script>
</body>
</html>
